[DEFAULT]


[EMAIL_PARAMETER]
MAIL_SERVER = smtp.gmail.com
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = atul00032146@gmail.com
MAIL_PASSWORD = 
MAIL_DEFAULT_SENDER = ("University Admission System","atul00032146@gmail.com")
MAIL_MAX_EMAILS = None
MAIL_ASCII_ATTACHMENTS = False
